<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Customer List</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <app-table 
                        [cols]="columns" 
                        [data]="dados"
                        [module]="'customer'"
                        [rows]="15"
                        [globalFields]="['id_cliente', 'name', 'telefone']"
                        [loading]="isLoading"
                        [filter]="false"
                        (crudTable)="crudInTable($event)"
                    ></app-table>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <p-toast position="bottom-center" key="bc"></p-toast>
</div>