<form #form="ngForm" (ngSubmit)="submit(form)" (keydown.enter)="submit(form)" class="card card-load mb-0" autocomplete="off">
  <div class="modal-header">
    <h4>Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    
  <div class="modal-body">
    <div class="row">
      <div class="col-12 form-group">
        <label>New password:</label>
        <input [type]="type" class="form-control" name="password" [(ngModel)]="dados.password" #password="ngModel">
      </div>
      
      <div class="col-12 form-group">
        <label>Confirm Password:</label>
        <input [type]="type" class="form-control" name="confirm_password" [(ngModel)]="dados.confirm_password" #confirm_password="ngModel">
      </div>
      
      <div class="col-12 form-group">
        <input type="checkbox" name="show" class="d-inline mt-1" (change)="changePassword()" [(ngModel)]="show"/> 
        Show Password
      </div>
    </div>
  </div>
  <div class="modal-footer">
  
    <button type="button" class="btn btn-secondary" (click)="close()">Back</button>
    <button type="submit" class="btn btn-success">
      <i class="fas fa-lock"></i> Change
    </button>
  </div>
</form>