<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/restricted/home']" class="brand-link">
    <img src="/assets/img/logo.jpeg" alt="Windmill Trades LLC" class="brand-image img-circle elevation-2">
    <span class="brand-text font-weight-light">Windmill Trades LLC</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">Menu</li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/home']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/vendas']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Sales
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/estoque']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-cubes"></i>
            <p>
              Stock
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/clientes']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Customers
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/fornecedores']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Providers
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/usuarios']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Users
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/categorias']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-layer-group"></i>
            <p>Categories</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/relatorios']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Reports
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restricted/contabilidades']" routerLinkActive="link-active" class="nav-link">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
              Accounting
            </p>
          </a>
        </li>
        <li (click)="toggleSideBar(caixa)" class="nav-item" #caixa>
          <a class="nav-link">
            <i class="nav-icon fas fa-cash-register"></i>
            <p>
              Cashier
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/restricted/caixa/a-pagar']" routerLinkActive="link-active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Bills to pay</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/restricted/caixa/a-receber']" routerLinkActive="link-active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Bills to receive</p>
              </a>
            </li>
          </ul>
        </li>
        <li (click)="toggleSideBar(movition)" class="nav-item" #movition>
          <a class="nav-link">
            <i class="nav-icon fas fa-search-dollar" style="color: #c2c7d0;"></i>
            <p>
              Movement
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/restricted/movimentacao/diaria']" routerLinkActive="link-active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Daily</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/restricted/movimentacao/historico']" routerLinkActive="link-active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>History</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>