<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Caixa Dolar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <!--  
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        -->
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row text-right">
                <div class="col-4 col-md-3 ml-auto">
                    <label class="text-danger">Média: </label>
                    <span class="pl-2">{{ media | currency: 'R$' }}</span>
                </div>
                <div class="col-4 col-md-3">
                    <label class="text-danger">Saldo: </label>
                    <span class="pl-2">{{ saldo | currency: '$' }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card" [ngClass]="{'card-load': loading}">
                        <div class="card-header">
                            <div class="card-title">                                
                                <button type="button" class="btn btn-primary btn-sm" (click)="openForm('cadastrar')">
                                    <i class="fas fa-plus" title="Criar"></i>
                                </button>
                            </div>
                            <div class="card-tools">
                                <div class="input-group input-group-sm inputSearch">
                                    <input type="text" name="table_search" class="form-control float-right" [(ngModel)]="term" placeholder="Pesquisar...">
                
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 100%;">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">Valor em Dolar</th>
                                        <th scope="col">Preço do Dolar</th>
                                        <th scope="col">Valor Pago</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">D/C</th>
                                        <th scope="col">Ação</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of dados | filter:term">
                                    <tr [ngClass]="{'tr-saida': item.status === 'saida'}">
                                        <td>{{ item.created_at }}</td>
                                        <td *ngIf="item.status === 'saida'" >{{- item.montante | currency: '$' }}</td>
                                        <td *ngIf="item.status === 'entrada'" >{{ item.montante | currency: '$' }}</td>
                                        <td>{{ (!item.valor_dolar)? '****':item.valor_dolar  | currency: 'R$' }}</td>
                                        <td>{{ (item.valor_pago == 0)? '****':item.valor_pago | currency: 'R$' }}</td>
                                        <td>{{ item.descricao }}</td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <span class="badge badge-danger" *ngIf="item.status === 'saida' ">D</span>
                                                <span class="badge badge-primary" *ngIf="item.status === 'entrada' ">C</span>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-warning btn-sm mr-1" title="Excluir" (click)="openForm('alterar', item)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm ml-1" title="Excluir" (click)="delete(item.id_dolar)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="dados.length == 0 ">
                                    <tr class="text-center">
                                        <td colspan="7">Não há nada no Caixa Dolar no momento</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-loader" *ngIf="loading"><i class="fas fa-sync-alt anim-rotate"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>