<form #form="ngForm" (ngSubmit)="submit(form)" class="card card-load mb-0" [ngClass]="{'card-load': loading}">

  <div class="modal-header">
    <h4>{{ data.crud? data.crud:'Adicionar' | titlecase }} Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-3 form-group">
        <img class="img-fluid img-circle mr-2" style="border-radius: 10px; width: 100px" [src]="dados.path">
      </div>
      
      <div class="col-sm-9 form-group">
        <label>Product:</label>
        <input type="text" readonly required class="form-control" name="name" 
          [(ngModel)]="dados.name" #name="ngModel" />
      </div>

      <div class="col-sm-3 form-group">
        <label>Qty. Stock:</label>
        <input type="number" readonly required class="form-control" name="und" 
          [(ngModel)]="dados.und" #und="ngModel" />
      </div>

      <div class="col-sm-3 form-group" *ngIf="!data.add">
        <label>Valor Total:</label>
        <input type="text" readonly required currencyMask class="form-control" name="unitario"
          [(ngModel)]="dados.unitario" #unitario="ngModel" />
      </div>

      <div class="col-sm-3 form-group" *ngIf="!data.add">
        <label style="font-size: 13px;">*Sale Price:</label>
        <input type="text" required currencyMask class="form-control" name="preco"
          [(ngModel)]="dados.preco" #preco="ngModel"
          [ngClass]="{'is-invalid': !preco.valid && (preco.touched || form.submitted)}" />
      </div>
      <div class="col-sm-3 form-group">
        <label>*Qty:</label>
        <input type="number" required class="form-control" name="qtd_venda"
          [(ngModel)]="dados.qtd_venda" #qtd_venda="ngModel"
          [ngClass]="{'is-invalid': !qtd_venda.valid && (qtd_venda.touched || form.submitted)}" />
      </div>
    </div>

  </div>
  <div class="card-loader" *ngIf="loading"><i class="fas fa-sync-alt anim-rotate"></i></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" [disabled]="loading" (click)="close()">Back</button>
    <button type="submit" class="btn btn-success" [disabled]="loading">
      <span>Save</span>
    </button>
  </div>

</form>