<div class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">

      <div class="card-header text-center">
        <img src="/assets/img/logo.jpeg" class="logo" alt="Logo WTLLC">
      </div>

      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" (keydown.enter)="onSubmit(form)">
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Login" autocomplete="off"
              name="login" [(ngModel)]="dados.login" #login="ngModel"
              [ngClass]="{'is-invalid': !login.valid && (login.touched || form.submitted)}" 
              required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          
          <div class="input-group mb-3">
            <input [type]="type" class="form-control" placeholder="Senha" autocomplete="off"
              name="password" [(ngModel)]="dados.password" #password="ngModel" 
              [ngClass]="{'is-invalid': !password.valid && (password.touched || form.submitted)}" 
              required />
            <div class="input-group-append">
              <div class="input-group-text" style="cursor: pointer;" (click)="changePassword()">
                <i class="fas fa-eye" *ngIf="!show" [@enterAnimationIcon]></i>
                <i class="fas fa-eye-slash" *ngIf="show" [@enterAnimationIcon]></i>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="lembrarLogin" name="lembrarLogin" [(ngModel)]="dados.lembrarLogin">
                <label for="lembrarLogin">
                  Me lembrar
                </label>
              </div>
            </div>
          
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" 
                [ngClass]="{'btn-danger': loadingError, 'btn-success': loadingOk}"
                [disabled]="loading">
                <i class="fas fa-check d-inline" *ngIf="loadingOk && !loading"></i>
                <i class="fas fa-times" *ngIf="loadingError"></i>
                <p class="d-inline" *ngIf="!loading && !loadingOk && !loadingError">Entrar</p>
                <i class="fas fa-sync-alt anim-rotate" *ngIf="loading"></i>
              </button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>