<form #form="ngForm" (ngSubmit)="submit(form)" (keydown.enter)="submit(form)" class="card card-load mb-0">
  <div class="modal-header">
    <h4>Debit</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    
  <div class="modal-body">
    <div class="row">
      <div class="col-12 form-group">
        <label>Total Final:</label>
        <input type="text" currencyMask readonly class="form-control" name="total" [(ngModel)]="dados.total_final">
      </div>
      
      <div class="col-12 form-group">
        <label>Amount Received:</label>
          <input type="text" currencyMask readonly class="form-control" name="pago" [(ngModel)]="dados.pago">
      </div>

      <div class="col-12 form-group">
        <label>Remaining:</label>
        <input type="text" currencyMask readonly class="form-control" name="restante" [(ngModel)]="dados.restante">
      </div>

      <div class="col-12 form-group">
        <label>Debit:</label>
        <input type="text" currencyMask class="form-control" name="debitar"
          [(ngModel)]="dados.debitar" #debitar="ngModel"
          (focus)="configCalc()" (blur)="calcRestante()"
          [ngClass]="{'is-invalid': !debitar.valid && (debitar.touched || form.submitted)}">
      </div>
    </div>
  </div>
  <div class="modal-footer">
  
    <button type="button" class="btn btn-secondary" (click)="close()">Back</button>
    <button type="submit" class="btn btn-success" [disabled]="loading">
      <i class="fas fa-money-bill"></i> Debit!
    </button>
  </div>
  <div class="card-loader" *ngIf="loading"><i class="fas fa-sync-alt anim-rotate"></i></div>
</form>